/* flex */
.flex-box{
    width:200px;
    height:200px;
    background:white;
    border:2px solid black;
    margin:20px auto;
    position:relative;
    overflow:hidden;
    cursor:pointer;
}

/* слои */
.background{
    width:100%;
    height:100%;
    object-fit:cover;
}

.pot{
    width:120px;
    position:absolute;
    bottom:20px;
    left:25px;
    transform-origin: center bottom;
}

.lid{
    width:85px;
    position:absolute;
    bottom:27px;
    left:67px;
    transform:rotate(-33deg);
    transform-origin: left bottom;
    will-change: transform;
}

.title{
    position:absolute;
    font-size:14px;
    font-weight:bold;
    text-shadow:0 0 3px white;
}

/* верхний текст */
.top{
    top:-3px;
    right:3px;
    color:black;    
}

/* боковой текст */
.bottom{
    bottom:6px;
    left:1px;
    writing-mode:vertical-rl;
    transform:rotate(180deg);
    color:rgb(199, 4, 4);
}

/* Видимость */
.hidden{
    opacity:0;
    pointer-events:none;
}

/* анимация */

/* кастрюля */
@keyframes pulse{
    0% { transform:scale(.7); opacity:.3 }
    50%{ transform:scale(1); opacity:1 }
    100%{ transform:scale(.7); opacity:.3 }
}

.pulse{
    animation:pulse 1.4s infinite;
}

/* хлопки */
@keyframes slap {
    0% {
        transform-origin: left bottom;
        transform: translateY(-30px) translateX(-30px);
    }
    50% {
        transform-origin: left bottom;
        transform: rotate(-70deg) translateX(35px) translateY(25px);
    }
    100% {
        transform-origin: left bottom;
        transform: translateY(-30px) translateX(-30px);
    }    
}

.slap{
    transform-origin: left bottom;
    animation:slap .75s infinite;
}
