.pano {
    position: relative;
    width: 100%;
    height: 66vh;
    margin: auto;
    border: 2px solid #333;
    border-radius: 12px;
}

.piece {
  position: absolute;
  cursor: grab;
}

.piece img {
  display: block;
  /* width: 60px;
  height: 60px; */
  transform: rotate(var(--r));
}

/* общий контур */
/* .outline {
  position: absolute;
  border: 3px solid gold;
  border-radius: 12px;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s ease, 
              left .3s ease, 
              top .3s ease, 
              width .3s ease, 
              height .3s ease;
}

.pano.success .outline {
  opacity: 1;
} */

.pano.success .piece img {
  animation: done 0.6s ease-in-out infinite alternate;
}

.pano.success {
  outline: 5px solid lime;
}

@keyframes done {
  from { transform: rotate(var(--r)) scale(1); }
  to   { transform: rotate(var(--r)) scale(1.1); }
}
