/* flex */
.flex-box{
  width:200px;
  height:200px;
  margin:30px auto;
  border:2px solid #000;
  position:relative;
  overflow:hidden;
  cursor:pointer;

  display:flex;
  align-items:center;
  justify-content:center;
}

/* слои */
.background{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* общие свойства */
.title,
.pot,
.lid{
  position:absolute;
  opacity:0;
  transition:0.4s;
  pointer-events:none;
}

.pot{
    width:120px;
    bottom:20px;
    left:25px;
    transform-origin: center bottom;
}

.lid{
    width:85px;
    bottom:27px;
    left:67px;
    transform:rotate(-33deg);
    transform-origin: left bottom;
    will-change: transform;
}


.title{
    font-size:14px;
    font-weight:bold;
    text-shadow:0 0 3px white;
}

/* верхний текст */
.top_text{
    top:-3px;
    right:3px;
    color:black;    
}

/* боковой текст */
.left_text{
    bottom:6px;
    left:1px;
    writing-mode:vertical-rl;
    transform:rotate(180deg);
    color:darkred;
}


/* состояния */
/* наведение */
.flex-box:hover .top_text{
    opacity: 1;
}
.flex-box:hover .pot{
  opacity:1;
  animation:pulse 1.4s infinite;
}

/* нажатие */
.flex-box:active .pot{
    animation: none;
    opacity: 1;
}
.flex-box:active .lid{
  opacity:1;
  animation:slap 0.7s infinite;
}

/* фиксированное состояние */
#toggle:checked + .flex-box {
    animation: shake 0.5s infinite;
}

#toggle:checked + .flex-box .top_text,
#toggle:checked + .flex-box .lid,
#toggle:checked + .flex-box .pot,
#toggle:checked + .flex-box .left_text {
    animation: none;
    opacity:1;
}

/* анимация */
@keyframes pulse{
  0%{ transform:scale(.8); }
  50%{ transform:scale(1); }
  100%{ transform:scale(.8); }
}

/* хлопки */
@keyframes slap {
    0% {
        transform-origin: left bottom;
        transform: translateY(-30px) translateX(-30px);
    }
    50% {
        transform-origin: left bottom;
        transform: rotate(-70deg) translateX(35px) translateY(25px);
    }
    100% {
        transform-origin: left bottom;
        transform: translateY(-30px) translateX(-30px);
    }    
}

.slap{
    transform-origin: left bottom;
    animation:slap .75s infinite;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-8px); }
  50%  { transform: translateX(8px); }
  75%  { transform: translateX(-8px); }
  100% { transform: translateX(0); }
}