.pano {
    position: relative;
    width: 100%;
    height: 66vh;
    margin: auto;
    border: 2px solid #333;
    border-radius: 12px;
}

.piece {
  position: absolute;
  cursor: grab;
}

.piece img {
  display: block;
  transform: rotate(var(--r));
}

.pano.success .outline {
  opacity: 1;
}

.original {
  position: absolute;
  width: 300px;
  height: 500px;
  background: url("../Images/task5.png") center / cover no-repeat;
  cursor: grab;
  display: none;
}

.original.active {
  display: block;
}

.pano.success .piece {
  pointer-events: none;
  opacity: 0;
}

.pano.success .original {
  animation: done 0.6s ease-in-out 0s 6 alternate;
}

.pano.success {
  outline: 5px solid lime;
}

@keyframes done {
  from { transform: scale(1); }
  to   { transform: scale(1.1); }
}
